[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
<<<<<<<<< Temporary merge branch 1
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
=========
django-cors-headers = "*"
psycopg2-binary = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
>>>>>>>>> Temporary merge branch 2

[dev-packages]

[requires]
python_version = "3.13"
